{% extends 'dash.html.twig' %}

{% block body %}
	<div class="w-75 m-auto bg-light p-5 mt-5">
		<h2 class="text-warning text-center">
			Bienvenue sur Symfony votre Dashboard
		</h2>

	</div>

{% endblock %}
