{% extends 'base.html.twig' %}

{% block body %}
	<div class="w-75 m-auto bg-light p-5 mt-5">
		<h2 class="text-warning text-center">
			Bienvenue sur Symfony App
		</h2>
		<div class="d-flex justify-content-center p-3">
			<a href="/inscription" class="btn btn-outline-primary" style="margin-right:10px;">Page d' Inscription</a>
			<button type="button" class="btn btn-outline-secondary">Voir Tout</button>
		</div>
	</div>

{% endblock %}
