{% extends 'dash.html.twig' %}

{% block body %}
	<div class="alert alert-dismissible bg-danger text-white w-50 m-auto">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>MERCI</strong>
		Suppresion  reussie ,cliquer
		<a href="/tous" class="alert-link">
			ici</a>
		pour revenir

	</div>
{% endblock %}
