{% extends 'base.html.twig' %}

{% block body %}
	<div class="alert alert-dismissible bg-success text-white">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		<strong>MERCI</strong>
		Votre Inscripion a reussie ,cliquer
		<a href="/" class="alert-link">
			ici</a>
		pour revenir

	</div>


{% endblock %}
